In [17]:
###############################IMPORTING FILE################################# 
import pandas as pd
df = pd.read_csv("ToyataCorolla.csv")
df.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170

In [18]:
#EDA --> boxplot, histogrmam, scatter plot, 

#shown in mlr models file

In [19]:
# standardization
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
#numerical data
df_nom = df[['Age_08_04', 'KM', 'HP', 'Automatic', 'cc', 'Doors', 'Cylinders', 'Gears', 'Weight']]

In [20]:
df_nom['Age_08_04'] = SS.fit_transform(df_nom[['Age_08_04']])
df_nom['KM'] = SS.fit_transform(df_nom[['KM']])
df_nom['HP'] = SS.fit_transform(df_nom[['HP']])
df_nom['Automatic'] = SS.fit_transform(df_nom[['Automatic']])
df_nom['cc'] = SS.fit_transform(df_nom[['cc']])
df_nom['Doors'] = SS.fit_transform(df_nom[['Doors']])
df_nom['Cylinders'] = SS.fit_transform(df_nom[['Cylinders']])
df_nom['Gears'] = SS.fit_transform(df_nom[['Gears']])
df_nom['Weight'] = SS.fit_transform(df_nom[['Weight']])

df_nom.head()

C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Age_08_04'] = SS.fit_transform(df_nom[['Age_08_04']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['KM'] = SS.fit_transform(df_nom[['KM']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['HP'] = SS.fit_transform(df_nom[['HP']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Automatic'] = SS.fit_transform(df_nom[['Automatic']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['cc'] = SS.fit_transform(df_nom[['cc']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Doors'] = SS.fit_transform(df_nom[['Doors']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Cylinders'] = SS.fit_transform(df_nom[['Cylinders']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Gears'] = SS.fit_transform(df_nom[['Gears']])
C:\Users\LOCHAN RISHITHA\AppData\Local\Temp\ipykernel_16352\3844718478.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nom['Weight'] = SS.fit_transform(df_nom[['Weight']])

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577

In [21]:
#label encoding
from sklearn.preprocessing import  LabelEncoder
LE = LabelEncoder()
X_cat=LE.fit_transform(df["Fuel_Type"])
X_cat

array([1, 1, 1, ..., 2, 2, 2])

In [22]:
df_cat = pd.DataFrame(X_cat, columns=['Fuel Type '])
df_cat

      Fuel Type
0              1
1              1
2              1
3              1
4              1
...          ...
1431           2
1432           2
1433           2
1434           2
1435           2

[1436 rows x 1 columns]

In [23]:
X_SS=pd.concat([df_nom,df_cat],axis=1)
X_SS

,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight,Fuel Type
0,-1.771966,-0.574695,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
1,-1.771966,0.117454,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
2,-1.718184,-0.715386,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
3,-1.610620,-0.547650,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.758561,1
4,-1.395491,-0.801028,-0.768042,-0.242893,0.997419,-1.085139,0.0,-0.140425,1.853577,1
...,...,...,...,...,...,...,...,...,...,...
1431,0.702015,-1.279939,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-0.901883,2
1432,0.863362,-1.321120,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1433,0.809579,-1.374036,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1434,0.755797,-1.376703,-1.035138,-0.242893,-0.652594,-1.085139,0.0,-0.140425,-1.091915,2
1435,1.078490,-1.827849,0.567440,-0.242893,0.054555,1.014941,0.0,-0.140425,0.789399,2

In [24]:
Y = df["Price"]
Y.head()

0    13500
1    13750
2    13950
3    14950
4    13750
Name: Price, dtype: int64

In [25]:
#Data partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25)

In [26]:
############################MODEL FITTING#######################################
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [27]:
model.fit(X_train,Y_train)
Y_pred_train = model.predict(X_train)
Y_pred_test  = model.predict(X_test)

In [28]:
############################# data validation#########################################
from sklearn.metrics import mean_squared_error
train_rmse = mean_squared_error(Y_train,Y_pred_train,squared=False)
print("Training Error:",train_rmse)
test_rmse = mean_squared_error(Y_test,Y_pred_test,squared=False)
print("Test Error:",test_rmse)

Training Error: 1273.1745589063055
Test Error: 1637.300845961916

In [29]:
training_err = []
test_err = []

for i in range(1,101):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

Cross validation - Training error: 1324.06
Cross validation - Test error: 1456.36

In [30]:
LR_coef = model.coef_
LR_coef

array([-2.26532462e+03, -6.65314287e+02,  3.59768939e+02,  7.67968841e+01,
       -1.82595690e+01, -1.19690208e+01,  6.82121026e-13,  1.29096025e+02,
        1.17558700e+03,  7.98480794e+02])

In [59]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=1) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2264.832783
1          KM -6.653143e+02  -666.959492
2          HP  3.597689e+02   361.477450
3   Automatic  7.679688e+01    76.323493
4          cc -1.825957e+01   -17.366293
5       Doors -1.196902e+01    -9.767496
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   128.652404
8      Weight  1.175587e+03  1170.185326
9  Fuel Type   7.984808e+02   780.714864

In [60]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.6
Cross validation - Test error: 1477.22

In [61]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=3) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2263.725576
1          KM -6.653143e+02  -670.281681
2          HP  3.597689e+02   364.820849
3   Automatic  7.679688e+01    75.338263
4          cc -1.825957e+01   -15.605971
5       Doors -1.196902e+01    -5.435815
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   127.747619
8      Weight  1.175587e+03  1159.570892
9  Fuel Type   7.984808e+02   745.445164

In [62]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.67
Cross validation - Test error: 1472.14

In [63]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=4) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2263.139697
1          KM -6.653143e+02  -671.951404
2          HP  3.597689e+02   366.473940
3   Automatic  7.679688e+01    74.835814
4          cc -1.825957e+01   -14.732620
5       Doors -1.196902e+01    -3.288219
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   127.290753
8      Weight  1.175587e+03  1154.311962
9  Fuel Type   7.984808e+02   727.876254

In [64]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.74
Cross validation - Test error: 1469.64

In [65]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=5) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2262.551716
1          KM -6.653143e+02  -673.620094
2          HP  3.597689e+02   368.123132
3   Automatic  7.679688e+01    74.331762
4          cc -1.825957e+01   -13.859983
5       Doors -1.196902e+01    -1.143739
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   126.833042
8      Weight  1.175587e+03  1149.061019
9  Fuel Type   7.984808e+02   710.323100

In [66]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1316.82
Cross validation - Test error: 1467.13

In [67]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)


model = Lasso(alpha=7) 

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2261.490470
1          KM -6.653143e+02  -676.648263
2          HP  3.597689e+02   371.475208
3   Automatic  7.679688e+01    73.061067
4          cc -1.825957e+01   -12.101781
5       Doors -1.196902e+01    -0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   125.287821
8      Weight  1.175587e+03  1139.919442
9  Fuel Type   7.984808e+02   677.345180

In [69]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,5]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1317.03
Cross validation - Test error: 1462.25

In [70]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=8) # 3

model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2260.917358
1          KM -6.653143e+02  -678.143254
2          HP  3.597689e+02   373.143503
3   Automatic  7.679688e+01    72.372155
4          cc -1.825957e+01   -11.230606
5       Doors -1.196902e+01    -0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   124.402777
8      Weight  1.175587e+03  1135.637399
9  Fuel Type   7.984808e+02   661.254976

In [71]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,7]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1317.16
Cross validation - Test error: 1459.89

In [72]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=10) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2259.771559
1          KM -6.653143e+02  -681.133015
2          HP  3.597689e+02   376.480200
3   Automatic  7.679688e+01    70.994389
4          cc -1.825957e+01    -9.488184
5       Doors -1.196902e+01    -0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   122.632685
8      Weight  1.175587e+03  1127.073012
9  Fuel Type   7.984808e+02   629.074435

In [73]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,5]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1317.48
Cross validation - Test error: 1455.29

In [74]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=30) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2248.275720
1          KM -6.653143e+02  -710.389066
2          HP  3.597689e+02   410.618519
3   Automatic  7.679688e+01    57.970396
4          cc -1.825957e+01    -0.000000
5       Doors -1.196902e+01     0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02   105.010459
8      Weight  1.175587e+03  1043.555865
9  Fuel Type   7.984808e+02   303.964346

In [76]:
#=========================================================
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,4,5]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1323.71
Cross validation - Test error: 1415.68

In [77]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=50) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2237.259787
1          KM -6.653143e+02  -735.680767
2          HP  3.597689e+02   442.429697
3   Automatic  7.679688e+01    45.168973
4          cc -1.825957e+01    -0.000000
5       Doors -1.196902e+01     0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02    87.266908
8      Weight  1.175587e+03   967.641015
9  Fuel Type   7.984808e+02     0.000000

In [78]:
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,4,5,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1331.2
Cross validation - Test error: 1393.75

In [79]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=100) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2225.441593
1          KM -6.653143e+02  -701.502881
2          HP  3.597689e+02   423.468074
3   Automatic  7.679688e+01     0.000000
4          cc -1.825957e+01    -0.000000
5       Doors -1.196902e+01     0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02    37.354701
8      Weight  1.175587e+03   930.713174
9  Fuel Type   7.984808e+02     0.000000

In [80]:
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,4,5,3,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1343.57
Cross validation - Test error: 1396.25

In [81]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=150) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2221.723637
1          KM -6.653143e+02  -660.479276
2          HP  3.597689e+02   403.502604
3   Automatic  7.679688e+01     0.000000
4          cc -1.825957e+01     0.000000
5       Doors -1.196902e+01     0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02     0.000000
8      Weight  1.175587e+03   886.882540
9  Fuel Type   7.984808e+02     0.000000

In [82]:
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,3,4,5,7,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1356.81
Cross validation - Test error: 1407.88

In [83]:
################################## LASSO REGRESSION #########################################
from sklearn.linear_model import Lasso
X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y,test_size=0.25,random_state=100)

model = Lasso(alpha=200) # 3


model.fit(X_train,Y_train)

model.intercept_
coeff = pd.concat([pd.DataFrame(list(X_SS)),pd.DataFrame(LR_coef),pd.DataFrame(model.coef_)],axis=1)
coeff

            0             0            0
0   Age_08_04 -2.265325e+03 -2216.342915
1          KM -6.653143e+02  -624.022117
2          HP  3.597689e+02   374.278737
3   Automatic  7.679688e+01     0.000000
4          cc -1.825957e+01     0.000000
5       Doors -1.196902e+01     0.000000
6   Cylinders  6.821210e-13     0.000000
7       Gears  1.290960e+02     0.000000
8      Weight  1.175587e+03   843.991483
9  Fuel Type   7.984808e+02     0.000000

In [84]:
# cross validation
#=========================================================
#=====================================================================
X_new = X_SS.drop(X_SS.columns[[6,3,4,5,6,7,9]],axis=1)
X_new

training_err = []
test_err = []

for i in range(100,201):
    X_train,X_test,Y_train,Y_test = train_test_split(X_SS,Y, test_size=0.25,random_state=i)
    model.fit(X_train,Y_train)
    Y_pred_train = model.predict(X_train)
    Y_pred_test  = model.predict(X_test)
    training_err.append(mean_squared_error(Y_train,Y_pred_train,squared=False))
    test_err.append(mean_squared_error(Y_test,Y_pred_test,squared=False))

import numpy as np
print("Cross validation - Training error:" ,np.mean(training_err).round(2))
print("Cross validation - Test error:" ,np.mean(test_err).round(2))

#=====================================================================

Cross validation - Training error: 1372.37
Cross validation - Test error: 1422.73

In [57]:
###RESULTS
#LASSO		
#DATA VALIDATION		
#TRAIN	TEST	
#1273	1637	
#CROSS VALIDATION		
#1324	11456	
		
		
#ALPHA 	TRAIN	TEST
#1	1316	1477
#3	1316	1472
#4	1316	1469
#5	1316	1467
#7	1317	1462
#8	1317	1459
#10	1317	1455
#30	13323   1415
#50	1331	1393
#100	1331	1393
#150	1343	1396
#175	1356	1407
#200	1372	1422

In [58]:
##WE CAN OBSERVE FROM ALPHA VALUE ABOVE 150 TRAINING ERROR IS INCREASED AND TEST ERROR ALSO INCREASED
#this leads to a contradiction that training error should be improved and test error should be decreased
#hence we need to choose alpha value is 150.